@charset "UTF-8";


/* > 1260px here  */

.oa2{
	background: url(../images/olympics/oa2_bg.png) center center no-repeat;
}
.title-wrapper .tabArea.sty_olympics ul {
	padding: 15px 0;
}

.title-wrapper .tabArea.sty_olympics li {
	line-height: 30px;
}

.title-wrapper .tabArea.sty_olympics li a {
	padding: 0 10px;
}

.title-wrapper .tabArea.sty_olympics li.active a {
	color: #ffffff;
	background-color: #96764D;
	border-radius: 30px;
}

.title-wrapper .tabArea.sty_olympics .lv2 {
	display: block;
}

.title-wrapper .tabArea.sty_olympics .lv2 ul {
	padding: 0px 0;
}

.title-wrapper .tabArea.sty_olympics .lv2 li {
	font-size: 1.125rem;
	line-height: 44px;
}

.title-wrapper .tabArea.sty_olympics .lv2 li a {
	color: #aaa;
	padding: 0 0px;
}

.title-wrapper .tabArea.sty_olympics .lv2 li.active a {
	color: #fff;
	background-color: transparent;
}

.title-wrapper .tabArea.sty_olympics .lv2 li.active::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 5px solid #96764D;
}


 .banner-silder .type201_1 {
	left: -317px;
	/*background-size: 40px auto;*/
	width: 317px;
	height: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 60px;
	z-index: 1;
}

.banner-silder .type201_2 {
	right: -310px;
	/*background-size: 40px auto;*/
	width: 240px;
	height: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 60px;
	z-index: 3;
}
.banner-silder .type201_1 img, .banner-silder .type201_2 img{
	width: 100%;
	position: absolute;
	top: 50%;
	transform:translateY(-50%);
}
.countDownContent{
	width:100%;
	text-align:center;
	margin-top:-80px;
}
.calenderContent{
	height:70px;
	display: inline-block;
	margin: 0px 10px 0px 0px;
}
.calenderContent .calender{
	background:url(../images/olympics/olympics_calender.png) left center no-repeat;
	padding: 0px 0px 0px 30px;
	line-height: 38px;
    font-size: 24px;
    text-align: right;
}
.calenderContent .title{
	font-size: 32px;
	text-align: right;
	line-height: 32px;
}
.olympicsCountDown {
	font-family: sans-serif; 
	color: #fff; 
	display: inline-block; 
	font-weight: 100; 
	text-align: center; 
	font-size: 23px;
	height:78px; 
} 
.olympicsCountDown > div{ 
	/*padding: 5px; */
	background: #B22D3C; 
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 0px 5px 0px 5px;
} 

.olympicsCountDown div > span{ 
	padding: 5px; 
	display: inline-block; 
} 
.olympicsCountDown .label{ 
	padding-top: 10px; 
	font-size: 16px; 
}

.olympicsCardTitle{
	margin: 0 4%;
	font-size:1.5rem;
	line-height: 50px;
	background: url(../images/olympics/sportList_title.png) no-repeat;
	padding:0 0 0 25px;
}

.olympicsCardTitle h2{
	font-size:1.5rem;
}


.olympicsCardTitle h2{
	font-size:1.5rem;
}

.olympicsGifBlock{
	margin: 1% 4%;
	font-size:1.1rem;
	color:#ccc;
	height:70px;
	padding: 10px 0 0 0;
}

.taiwanSportTitle .desc{
	margin: 1% 4%;
	font-size:1.1rem;
	color:#ccc;
	height:70px;
	padding: 10px 0 0 0;
}
.taiwanSportListBlock{
	margin: 0 4%;
	height:110px;
	text-align:center;
	background-color:#650D19;
	border-bottom: 4px solid #B22D3c;
	position:relative;
}


.list_sport {
	/*position: absolute;*/
	top: 0;
	left: 0;
	right: 0;
	height:110px;	
	padding: 0 40px;
	overflow: hidden;
	display: inline-block;
    box-sizing: border-box;
    width:82%;	
}

.list_sport .item {
	width: 110px;
	font-size: 0.875rem;
	line-height: 20px;
	color: #FFF;
	opacity: 0.7;
}
.list_sport .item.active {
	width: 110px;
	font-size: 0.875rem;
	line-height: 20px;
	color: #FFF;
	opacity: 1;
	background-color:#B22D3c;
}

.list_sport .item .pic img{
	padding:10px 0 0 0;
	width:67px;
	height:67px;
}
.list_sport .item span {
	display: inline-block;
	font-size: 1rem;
	font-family: "Open Sans", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	text-align: center;
	font-weight: bold;
}
.list_sport .swiper-button-next{
	background-image: url(../images/arrow_next.png);
	right:0;
}
.taiwanSportDescription{
	margin:1% 4%;
	background-color:#303030;
	height: 160px;
	display: flex;
}
.taiwanSportDescription .additionPic{
	width:7%;

}
.taiwanSportDescription .additionPic  img{
	width: 40px;
    height: 40px;
    left: 50%;
    top: 13%;
    position: relative;
}
.taiwanSportDescription .titleAndDesc{
	width:68%;
}
.taiwanSportDescription .titleAndDesc .title{
	font-size: 1.4rem;
    padding-top: 4%;
}
.taiwanSportDescription .titleAndDesc .description{
	font-size: 1.1rem;
    padding-top: 2%;
}
.taiwanSportDescription .pic{
	width:25%;
	text-align: right;
}
.taiwanSportDescription .pic img{
	height:160px;
}

.taiwanSportTimeShift{
	margin:-30px 4%;
	background-color:#303030;
	height: 50px;
	display: flex;	
}

.taiwanSportTimeShift .title{
	padding:1% 3%;
	font-size: 1.2rem;
	width: 40%;
}

.taiwanSportTimeShift .triangle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 5px 0 5px;
	border-color: #ffffff transparent transparent transparent;
	margin: 20px;
    right: 5%;
    position: absolute;
}

.taiwanSportTimeShift a{
	display: block;
	padding: 0 20px;
	z-index:3;
	width:100%;
}

.taiwanSportTimeShiftContent{
    margin:20px 0;
}
.taiwanSportEPGContent .liveListBlock .list_item{
	display:flex;
}
.taiwanSportEPGContent .liveListBlock .list_item .pic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #B22D3C;
    margin-right: 15px;
}
.taiwanSportEPGContent .liveListBlock .list_item .medal{
    border-radius: 50%;
    width: 40px;
    height: 40px;
	-webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
	background-size: 24px auto;
	background-color: rgba(255, 255, 255, 0.05);
	position: absolute;
	right: 95px;
	top: 50%;
	margin-top: -20px;
	text-align:center;
	padding: 5px 0 0 0;
}

.taiwanSportEPGContent .liveListBlock .list_item .medal img{   
    width: 26px;
    height: 30px;   
}

.taiwanSportEPGContent .liveListBlock .list_item h3 span {
    font-size: 0.75rem;
    color: #fff;
    padding: 0 5px;
    margin-right: 10px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
	text-align:center;   
	width:50px;
	height:20px; 
	background-color:#FF0056;
	border: 0px;	   
}

.sty202{
	width:100%;
	height:54px;
	
}

.sty202 .content{
	max-width:86%;
	margin: 0 auto;
	position: relative;	
	height:64px;
}
.sty202 .content .pic{
	max-width:30%;
	position: absolute;
	left: 4%;
	margin-top:-158px;
	z-index:3;
}

.sty202 .content .gifListBlock{
	float:left;
}
.sty202 .content .olympicsMessage{
	float:left;
	height:64px;
	max-width:70%;
	left: 20%;
}

.player_main .program{
	  text-align: left;
	  position: absolute;
	  bottom: 130px;
	  left: 80px;
	 font-size: 30px;
	 line-height:32px;
	}
.player_main .channel{
	   text-align: left;
	  position: absolute;
	  bottom: 100px;
	  left: 80px;
	 font-size: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1260px) {

	
	
}

@media screen and (max-width: 767px) {
	.oa2{
	background:none;
}
.banner-silder .main{
	display:none;
   }
  /*.banner-silder .type201_1 {
	/*display: block;
   	left:0px;
	width: 375px;
	height: auto;
	top: 0;
	bottom: 0;
	position: absolute;
	margin-top: 60px;
	z-index: 0;
	position:relative;
	top:0px;
	left:0px;
	background: green;
  }  
   
  .banner-silder .type201_1 img{
	width: 100%;
	height:auto;
	position: relative;
	left:0px;
	top:0px;
  }*/
.taiwanSportDescription .additionPic{
	width: 12%;
}
.taiwanSportDescription .additionPic  img{
	width: 40px;
    height: 40px;
    left: 20%;
    top: 1%;
    position: relative;
}
.taiwanSportTimeShift .title{
	padding:1% 3%;
	font-size: 1.2rem;
	width: 70%;
}
.taiwanSportTimeShift a{
	display: block;
	padding: 0 20px;
	z-index:3;
	width:30%;
}
.liveListBlock .list_item p {
    font-size: 1.125rem;
    letter-spacing: 1px;
    width: 65%;
}

.countDownContent{

	margin-top:-20px;
}

	
}
